@page
@model RazorPagesMasterDetail.Pages.Nate.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="row w-100">
    <div class="row w-100">
        <div class="col-6">
            <form>
                Title: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </form>
        </div>
        <div class="col-6">
            <form>
                Sort By: 
                @Html.DropDownList("SortField", Html.GetEnumSelectList<SortFields>() )
                <input type="submit" value="Sort" />
            </form>
        </div>
    </div>
    <div class="card-deck w-100 h-auto m-0">
        @foreach (var item in Model.Books)
    {
        <div class="card w-50 m-2">
            <img class="card-img-top" src="@item.Cover" alt="Book cover image" />
            <h5 class="card-header">@item.Title</h5>
            <div class="card-body">
                <h5 class="card-title">by @item.Author</h5>
                <p class="card-text text-truncate">
                    Genres<br />
                    <span class="card-text text-primary">@item.Genre</span>
                </p>
                <p class="card-text text-truncate">
                    Summary<br />
                    <span class="card-text text-primary">@item.Summary</span>
                </p>
                <a class="btn btn-primary m-2" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-primary m-2" asp-page="./Details" asp-route-id="@item.ID">Details</a>
                <a class="btn btn-primary m-2" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
    }
    </div>
</div>