@page
@model RazorPagesMasterDetail.Pages.Dylan.DetailsModel

@{
    ViewData["Title"] = "Details";
    var cover = "~/images/" + (Model.Books.Cover ?? "noimage.png");
}
<style>
    h2 {
        font-size: 30px;
        font-weight: bold;
        color: darkgoldenrod;
        text-shadow: 2px, 2px, 3px saddlebrown;
    }
    .detailsBox {
        border: 4px outset saddlebrown;
        background-color: peachpuff;
        text-align: left;
        padding: 7px 7px 7px 7px;
    }
    .imageThumbnail {
        height: 300px;
        width: auto;
    }
    body {
        background-color: antiquewhite;
    }
    h1 {
        text-align: center;
        font-weight: bold;
        color: saddlebrown;
        font-size: 36px;
    }
    h4 {
        font-size: 20px;
        color: darkgoldenrod;
        font-weight: normal;
    }
</style>
<body>
<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <div class="form-group row col-lg-9 offset-4">
        <img class="imageThumbnail" src="@cover" asp-append-version="true" />
    </div>
    

        <div class="detailsBox col-12">
            <h2>Date</h2>
            @Html.DisplayFor(model => model.Books.Date)
        </div>
        <div class="detailsBox col-12">
            <h2>Title</h2>
            @Html.DisplayFor(model => model.Books.Title)
        </div>
        <div class="detailsBox col-12">
            <h2>Author</h2>
            @Html.DisplayFor(model => model.Books.Author)
        </div>
        <div class="detailsBox col-12">
            <h2>Genre</h2>
            @Html.DisplayFor(model => model.Books.Genre)
        </div>
        <div class="detailsBox col-12">
            <h2>Summary</h2>
            @Html.DisplayFor(model => model.Books.Summary)
        </div>
    
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Books.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>